/* Created by: Infinity de Guzman
 * Created on: Apr 2021
 * This CSS file defines the style for index.html ICS2O-Unit1-06-HTML-JS
*/

body {
  background-color: #fff7d2;
}

h1 {
  background-color: #49beb7;
  color: #badfdb;
  padding: 40px;
  text-align: center;
}
