/* Created by: Infinity de Guzman
 * Created on: Apr 2021
 * This CSS file defines the style for index.html ICS2O-Unit1-06-HTML-JS
*/

body {
  background-image: url("prettysunset.jpg");
  background-color: #fff7d2;
  height: 500px;
  background-position: center;
  background-size: cover;
}

h1 {
  background-color: #49beb7;
  color: #badfdb;
  padding: 40px;
  text-align: center;
}
